# IDE and Editors
.config/Antigravity/
.config/Code - OSS/
.config/Code/
.vscode/

# Logs and State
.config/.hypr_rule_state
.config/.theme_state.json
.config/session/
*.log

# Telemetry and Caches
.cache/
.config/dconf/
.config/go/
.config/pulse/

# Apps (Browsers, Connect apps etc)
.config/BraveSoftware/
.config/glow/
.config/kdeconnect/

# Unwanted GUI state
.config/gtk-3.0/
.config/gtk-4.0/

# Misc
.DS_Store
*.swo
*.swp
*~
