* {
    main-bg:            #121314B3;
    main-fg:            #FCFCFCE6;
    main-br:            #838A8CE6;
    main-ex:            #555355E6;
    select-bg:          #D6D6D680;
    select-fg:          #1A1A1AE6;
}
