/* Dayfox light theme */
* {
    font-family: "CaskaydiaMono Nerd Font";
    font-size: 15px;
    font-weight: bold;
    border: none;
    margin: 0;
    padding: 0;
}

window#waybar,
window#waybar > box {
    background: #f6f6f4;
    padding: 5px 6px;
}

tooltip {
    background: rgba(234, 234, 230, 0.9);
}

tooltip label {
    color: #3d2b5a;
    margin: 0 2px;
}

menu {
    border-radius: 0px;
    background: #eaeae6;
    padding: 0 4px;
    box-shadow: none;
}

menuitem {
    padding: 8px;
    margin: 2px 5px;
    border-radius: 4px;
}

menuitem:hover {
    background-color: #c94f6d;
    color: #f6f6f4;
}

#workspaces,
#custom-theme-toggle,
#pulseaudio,
#backlight,
#battery,
#custom-wifi,
#bluetooth,
#custom-power,
#idle_inhibitor,
#clock,
#mpris,
#tray,
#custom-notification,
#custom-group-right-logo,
#custom-cpu,
#custom-memory,
#temperature {
    color: #3d2b5a;
    background: transparent;
    padding: 2px 9px;
    margin: 0 2px;
}

#workspaces {
    color: #c94f6d;
}

#workspaces button {
    color: #4d688e;
    padding: 2px 4px;
    margin: 0 3px;
    border-radius: 2px;
}

#workspaces button.active {
    background: #618774;
    color: #f6f6f4;
    font-weight: bolder;
    text-decoration: underline;
}

#workspaces button.active:hover {
    background: #c98530;
    color: #f6f6f4;
}

#workspaces button:hover {
    color: #c94f6d;
}

#custom-power:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-wifi:hover,
#clock:hover,
#mpris:hover,
#custom-cpu:hover,
#custom-memory:hover,
#temperature:hover {
    color: #c98530;
}

#custom-power { color: #c94f6d; }
#pulseaudio { color: #618774; }
#battery { color: #4d688e; }
#battery.warning { color: #c98530; }
#battery.critical { color: #c94f6d; }
#battery.charging { color: #618774; }
#custom-wifi { color: #287980; }
#bluetooth { color: #955f6f; }
#mpris { color: #618774; }
#idle_inhibitor { color: #4d688e; }
#clock { color: #c98530; }
#custom-theme-toggle { color: #c98530; background: transparent; }
#custom-group-right-logo { color: #618774; padding-right: 20px; }
#custom-cpu { color: #955f6f; }
#custom-memory { color: #618774; }
#temperature { color: #c94f6d; }

