* {
  font-family: "CaskaydiaMono Nerd Font ";
  font-size: 19px;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 0;
  min-height: 0;
}

window#waybar,
window#waybar>box {
  background: transparent;
  padding: 5px 6px;
  box-shadow: none;
}

tooltip {
  background: #dce0e8;
  padding: 6px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

tooltip label {
  color: #4c4f69;
  margin: 0 2px;
}

/* Shared styling */
#workspaces,
#custom-theme-toggle,
#pulseaudio,
#backlight,
#battery,
#custom-wifi,
#bluetooth,
#custom-power,
#idle_inhibitor,
#clock,
#mpris,
#custom-notification,
#tray,
#custom-group-right-logo {
  color: #4c4f69;
  background: rgba(239, 241, 245, 0.9);
  padding: 2px 6px;
  box-shadow: none;
  margin: 0 0px;
  border-radius: 0px;
}

#mpris {
  border-radius: 5px;
  padding: 0 10px;
  margin-left: 10px;
}

#pulseaudio,
#idle_inhibitor,
#workspaces {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#clock,
#workspaces,
#custom-group-right-logo {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


#tray,
#custom-notification,
#custom-theme-toggle,
#custom-wifi,
#bluetooth,
#custom-power {
  padding: 0px 12px;
}

/* Workspaces */
#workspaces {
  color: #dc8a78;
}

#workspaces button {
  color: #7287fd;
  padding: 2px 4px;
  margin: 0 3px;
  border-radius: 2px;
}

#workspaces button.active {
  background: #b4befe;
  color: #4c4f69;
  font-weight: bolder;
  text-decoration: underline;
}

#workspaces button.active:hover {
  background: #94e2d5;
  color: #4c4f69;
}

#workspaces button:hover {
  color: #d20f39;
}

/* Hover */
#custom-power:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-wifi:hover,
#clock:hover,
#mpris:hover,
#custom-theme-toggle:hover {
  color: #fe640b;
}

/* Individual components */
#custom-power {
  color: #d20f39;
}

#pulseaudio {
  color: #40a02b;
}

#battery {
  color: #1e66f5;
}

#battery.warning {
  color: #df8e1d;
}

#battery.critical {
  color: #d20f39;
}

#battery.charging {
  color: #40a02b;
}

#custom-wifi {
  color: #179299;
}

#bluetooth {
  color: #8839ef;
}

#mpris {
  color: #40a02b;
}

#idle_inhibitor {
  color: #7287fd;
}

#clock {
  color: #fe640b;
}

#custom-theme-toggle {
  color: #fe640b;
}

#custom-group-right-logo {
  color: #40a02b;
  padding: 0px 15px;
}