// Catppuccin Latte
* {
    background:     #fbf1c7;
    background-alt: #f2e5bc;
    foreground:     #3c3836;
    selected:       #d3869b;
    active:         #689d68;
    urgent:         #cc241d;
}
