* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 17px;
  font-weight: bold;
  border: none;
  margin: 0;
  padding: 0;
  min-height: 0;
}

window#waybar,
window#waybar>box {
  background: rgba(220, 224, 232, 0.6);
  padding: 5px 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

tooltip {
  background: #dce0e8;
  padding: 6px 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

tooltip label {
  color: #4c4f69;
  margin: 0 2px;
}

#workspaces,
#custom-theme-toggle,
#pulseaudio,
#backlight,
#battery,
#custom-wifi,
#bluetooth,
#custom-power,
#idle_inhibitor,
#clock,
#mpris {
  color: #4c4f69;
  background: transparent;
  padding: 2px 6px;
  margin: 0 2px;
}

#custom-theme-toggle,
#custom-wifi,
#bluetooth,
#custom-power {
  background: transparent;
  border-radius: 0;
  box-shadow: none;
}

#workspaces {
  color: #dc8a78;
}

#workspaces button {
  color: #7287fd;
  padding: 2px 4px;
  margin: 0 3px;
  border-radius: 2px;
}

#workspaces button.active {
  background: #b4befe;
  color: #4c4f69;
  font-weight: bolder;
  text-decoration: underline;
}

#workspaces button.active:hover {
  background: #94e2d5;
  color: #4c4f69;
}

#workspaces button:hover {
  color: #d20f39;
}

#custom-power:hover,
#pulseaudio:hover,
#bluetooth:hover,
#custom-wifi:hover,
#clock:hover,
#mpris:hover,
#custom-theme-toggle:hover {
  background: transparent;
  color: #4c4f69;
}

#custom-power {
  color: #d20f39;
}

#pulseaudio {
  color: #40a02b;
}

#battery {
  color: #1e66f5;
}

#custom-wifi {
  color: #179299;
}

#bluetooth {
  color: #8839ef;
}

#mpris {
  color: #40a02b;
}

#idle_inhibitor {
  color: #7287fd;
}

#clock {
  color: #fe640b;
}

#battery.warning {
  color: #df8e1d;
}

#battery.critical {
  color: #d20f39;
}

#battery.charging {
  color: #40a02b;
}

#custom-theme-toggle {
  color: #fe640b;
}
